@import "../lib/utils";

.btn {
  font-family: $alata;
  font-size: 14px;
  letter-spacing: 5px;
  border-radius: 2.5px;
  border: 1px solid black;
  text-transform: uppercase;
  padding: 0.5rem 2.5rem;
  // padding: 13px 43px 13px 38px;
}

.btn-white {
  background-color: $White;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}

.bottom {
  margin-top: 2.5em;
  width: 51%;
  align-self: center;
}
